@import "../../shared/Variables.module.scss";

.modalWindow {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6b7280bf;
  justify-content: center;
  align-items: center;
  z-index: 3;

  .content {
    min-height: 312px;
    width: 80%;
    height: 60%;
    background-color: $color-white;
    box-shadow: 0px 10px 10px -5px #0000000a;
    box-shadow: 0px 20px 25px -5px #0000001a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
    box-sizing: border-box;
    overflow-y: auto;

    img {
      width: 60%;
      min-height: 90px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0px 25px 50px -12px #00000040;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 8px;

      label {
        color: $color-black-text;
      }

      textarea {
        width: 100%;
        min-height: 105px;
        max-height: 20vh;
        border: 1px solid $color-gray;
        border-radius: 6px;
        box-shadow: 0px 1px 2px 0px #0000000d;
        padding: 10px 6px;
        outline: none;
        resize: vertical;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        color: #111827;
        overflow-y: auto;
      }

      p {
        font-weight: 400;
        color: $color-gray-text;
      }

      button {
        align-self: center;
      }
    }
  }
}

.modalWindow.show {
  display: flex;
}

@media screen and (min-width: 426px) {
  .modalWindow {
    .content {
      height: 70%;
      padding: 24px;
      gap: 24px;

      img {
        height: 40%;
        border-radius: 24px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .modalWindow {
    .content {
      width: 50%;
      height: 90%;

      img {
        height: 50%;
      }

      button {
        margin: 20px;
      }
    }
  }
}

@media screen and (min-width: 2000px) {
  .modalWindow {
    .content {
      padding: 36px;
      gap: 24px;
      border-radius: 16px;
      font-size: 32px;

      img {
        height: 40%;
        border-radius: 32px;
      }

      button {
        margin: 40px;
      }
    }
  }
}
