@import "../../../shared/Variables.scss";

.avatar {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100%;
  min-height: 75px;
  max-height: 110px;
  min-width: 75px;
  max-width: 110px;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px #ffffff;
  margin-bottom: 4px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: static;
  }
}

@media screen and (min-width: 769px) {
  .avatar {
    min-height: 115px;
  }
}
