@import "../../../shared/Colors.scss";

.avatar {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50%;
    border: 5px solid white;
    background-color: white;
    box-sizing: border-box;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: static;
  }
}
