@import "../../shared/Variables.scss";

main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;

  section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (min-width: 769px) {
  main {
    padding: 32px;

    section {
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    }
  }
}
