@import "../../shared/Variables.module.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 64px 32px 32px;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .container {
    padding: 48px;
  }
}

@media screen and (min-width: 2000px) {
  .container {
    padding: 64px;
  }
}
