$color-white: #FFFFFF;
$color-white-background: #E5E5E5;
$color-gray: #D1D5DB;
$color-gray-icon: #9CA3AF;
$color-gray-text: #6B7280;
$color-black:#111827;
$color-black-text:#374151;
$color-violet:#4F46E5;
