@import "../../shared/Variables.scss";

button {
  width: auto;
  display: flex;
  align-items: center;
  color: $color-black-text;
  padding: 4px 8px 4px 8px;
  gap: 4px;
  border: 1px solid $color-gray;
  border-radius: 6px;
  background-color: $color-white;
  box-shadow: 0px 1px 2px 0px #0000000d;

  svg {
    width: 16px;
    fill: $color-gray-icon;
  }
}

button:hover {
  background-color: $color-gray;
  transition: all 0.5s ease;
}

.violet {
  background-color: #4f46e5;
  color: $color-white;
}

.violet:hover {
  background-color: #6961fc;
}

@media screen and (min-width: 769px) {
  button {
    padding: 9px 17px 9px 17px;
    gap: 8px;
  }
}
